*.csv
.idea
*.txt
*.zrx
*.png
!transform/doku/*.png
dp_Dataframe.py
readCSV_create_dpDataframe_Fulldata.py
Valle.py
Experiments/Valle2.py
Read_write/dp_Dataframe2.py
Read_write/readCSV_create_dpDataframe_Fulldata.py
transform/scripts/config_parser.py
transform/scripts/prepare_files.py
transform/scripts/__pycache__/config_parser.cpython-39.pyc
transform/scripts/__pycache__/config_parser.cpython-310.pyc
transform/scripts/__pycache__/config_parser.cpython-311.pyc
transform/scripts/__pycache__/prepare_files.cpython-311.pyc
transform/scripts/__pycache__/progress_bar.cpython-39.pyc
transform/scripts/__pycache__/progress_bar.cpython-310.pyc
transform/scripts/__pycache__/progress_bar.cpython-311.pyc
dp_Dataframe.py
readCSV_create_dpDataframe_Fulldata.py
Valle.py
transform/doku/Precipitation1_month_November.png
transform/doku/Precipitation1_total.png
transform/doku/Precipitation1_years.png
